.MuiTypography-root {
  margin: 0;
}
.MuiTypography-body2 {
  font-size: 0.875rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  font-weight: 400;
  line-height: 1.43;
}
.MuiTypography-body1 {
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  font-weight: 400;
  line-height: 1.5;
}
.MuiTypography-caption {
  font-size: 0.75rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  font-weight: 400;
  line-height: 1.66;
}
.MuiTypography-button {
  font-size: 0.875rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}
.MuiTypography-h1 {
  font-size: 2rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  font-weight: 300;
  line-height: 1.167;
}
@media (min-width:600px) {
  .MuiTypography-h1 {
    font-size: 2.5707rem;
  }
}
@media (min-width:960px) {
  .MuiTypography-h1 {
    font-size: 2.7849rem;
  }
}
@media (min-width:1280px) {
  .MuiTypography-h1 {
    font-size: 2.9991rem;
  }
}
  .MuiTypography-h2 {
    font-size: 1.75rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 300;
    line-height: 1.2;
  }
@media (min-width:600px) {
  .MuiTypography-h2 {
    font-size: 2.0833rem;
  }
}
@media (min-width:960px) {
  .MuiTypography-h2 {
    font-size: 2.2917rem;
  }
}
@media (min-width:1280px) {
  .MuiTypography-h2 {
    font-size: 2.5rem;
  }
}
  .MuiTypography-h3 {
    font-size: 1.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 400;
    line-height: 1.167;
  }
@media (min-width:600px) {
  .MuiTypography-h3 {
    font-size: 1.7138rem;
  }
}
@media (min-width:960px) {
  .MuiTypography-h3 {
    font-size: 1.928rem;
  }
}
@media (min-width:1280px) {
  .MuiTypography-h3 {
    font-size: 1.928rem;
  }
}
  .MuiTypography-h4 {
    font-size: 1.25rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 400;
    line-height: 1.235;
  }
@media (min-width:600px) {
  .MuiTypography-h4 {
    font-size: 1.417rem;
  }
}
@media (min-width:960px) {
  .MuiTypography-h4 {
    font-size: 1.417rem;
  }
}
@media (min-width:1280px) {
  .MuiTypography-h4 {
    font-size: 1.417rem;
  }
}
  .MuiTypography-h5 {
    font-size: 1.125rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 400;
    line-height: 1.334;
  }
@media (min-width:600px) {
  .MuiTypography-h5 {
    font-size: 1.1244rem;
  }
}
@media (min-width:960px) {
  .MuiTypography-h5 {
    font-size: 1.3118rem;
  }
}
@media (min-width:1280px) {
  .MuiTypography-h5 {
    font-size: 1.3118rem;
  }
}
  .MuiTypography-h6 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 500;
    line-height: 1.6;
  }
  .MuiTypography-subtitle1 {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 400;
    line-height: 1.75;
  }
  .MuiTypography-subtitle2 {
    font-size: 0.875rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 500;
    line-height: 1.57;
  }
  .MuiTypography-overline {
    font-size: 0.75rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
    font-weight: 400;
    line-height: 2.66;
    text-transform: uppercase;
  }
  .MuiTypography-srOnly {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }
  .MuiTypography-alignLeft {
    text-align: left;
  }
  .MuiTypography-alignCenter {
    text-align: center;
  }
  .MuiTypography-alignRight {
    text-align: right;
  }
  .MuiTypography-alignJustify {
    text-align: justify;
  }
  .MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .MuiTypography-gutterBottom {
    margin-bottom: 0.35em;
  }
  .MuiTypography-paragraph {
    margin-bottom: 16px;
  }
  .MuiTypography-colorInherit {
    color: inherit;
  }
  .MuiTypography-colorPrimary {
    color: #0096c7;
  }
  .MuiTypography-colorSecondary {
    color: #c71f37;
  }
  .MuiTypography-colorTextPrimary {
    color: #000000;
  }
  .MuiTypography-colorTextSecondary {
    color: #073b4c;
  }
  .MuiTypography-colorError {
    color: #f44336;
  }
  .MuiTypography-displayInline {
    display: inline;
  }
  .MuiTypography-displayBlock {
    display: block;
  }
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
strong, b {
  font-weight: 700;
}
body {
  color: #000000;
  margin: 0;
  font-size: 0.875rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  font-weight: 400;
  line-height: 1.43;
  background-color: #f4f4f4;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #f4f4f4;
}
@font-face {
  0: Arial;
  1: Verdana;
  2: Helvetica;
  3: Tahoma;
  4: Trebuchet MS;
  5: Times New Roman;
  6: Georgia;
  7: Garamond;
  8: Courier New;
  9: Brush Script MT;
  10: Amatic SC;
  11: Bangers;
  12: Bebas Neue;
  13: Bitter;
  14: Bona Nova;
  15: Comfortaa;
  16: Festive;
  17: Fredoka One;
  18: Fuggles;
  19: Lobster;
  20: Lobster Two;
  21: Montserrat;
  22: Oswald;
  23: Pacifico;
  24: Playfair Display;
  25: Poiret One;
  26: Poppins;
  27: Raleway;
  28: Roboto;
  29: Shadows Into Light;
  30: STIX Two Math;
  31: Yomogi;
  32: Zen Loop;
  33: Zen Tokyo Zoo;
}
@font-face {
  0: Arial;
  1: Verdana;
  2: Helvetica;
  3: Tahoma;
  4: Trebuchet MS;
  5: Times New Roman;
  6: Georgia;
  7: Garamond;
  8: Courier New;
  9: Brush Script MT;
}
@font-face {
  font-family: Amatic SC;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Amatic SC'),
  local('AmaticSC-Regular'),
  url(/static/media/AmaticSC-Regular.caaf513a.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Bangers;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Bangers'),
  local('Bangers-Regular'),
  url(/static/media/Bangers-Regular.62caecd7.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Bebas Neue;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Bebas Neue'),
  local('BebasNeue-Regular'),
  url(/static/media/BebasNeue-Regular.9aa03f9d.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Bitter;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Bitter'),
  local('Bitter-VariableFont_wght'),
  url(/static/media/Bitter-VariableFont_wght.56a42385.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Bona Nova;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Bona Nova'),
  local('BonaNova-Regular'),
  url(/static/media/BonaNova-Regular.a8d5c6c2.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Comfortaa;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Comfortaa'),
  local('Comfortaa-VariableFont_wght'),
  url(/static/media/Comfortaa-VariableFont_wght.a7679a7b.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Festive;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Festive'),
  local('Festive-Regular'),
  url(/static/media/Festive-Regular.2d3d3a2c.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Fredoka One;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Fredoka One'),
  local('FredokaOne-Regular'),
  url(/static/media/FredokaOne-Regular.3888a8fd.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Fuggles;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Fuggles'),
  local('Fuggles-Regular'),
  url(/static/media/Fuggles-Regular.3d1f5bba.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Lobster;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Lobster'),
  local('Lobster-Regular'),
  url(/static/media/Lobster-Regular.9535d77e.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Lobster Two;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Lobster Two'),
  local('LobsterTwo-Regular'),
  url(/static/media/LobsterTwo-Regular.3fa2e7a5.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Montserrat'),
  local('Montserrat-Regular'),
  url(/static/media/Montserrat-Regular.3cd78665.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Oswald'),
  local('Oswald-VariableFont_wght'),
  url(/static/media/Oswald-VariableFont_wght.88fc6c5b.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Pacifico'),
  local('Pacifico-Regular'),
  url(/static/media/Pacifico-Regular.93cd59ff.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Playfair Display;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Playfair Display'),
  local('PlayfairDisplay-VariableFont_wght'),
  url(/static/media/PlayfairDisplay-VariableFont_wght.ad3d45b3.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Poiret One;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Poiret One'),
  local('PoiretOne-Regular'),
  url(/static/media/PoiretOne-Regular.a453ae9b.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Poppins'),
  local('Poppins-Regular'),
  url(/static/media/Poppins-Regular.8081832f.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Raleway'),
  local('Raleway-VariableFont_wght'),
  url(/static/media/Raleway-VariableFont_wght.3fefe681.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Roboto'),
  local('Roboto-Regular'),
  url(/static/media/Roboto-Regular.a8d6ac03.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Shadows Into Light;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Shadows Into Light'),
  local('ShadowsIntoLight-Regular'),
  url(/static/media/ShadowsIntoLight-Regular.82b02b2e.ttf) format('truetype')
  ;
}
@font-face {
  font-family: STIX Two Math;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('STIX Two Math'),
  local('STIXTwoMath-Regular'),
  url(/static/media/STIXTwoMath-Regular.a36a0501.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Yomogi;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Yomogi'),
  local('Yomogi-Regular'),
  url(/static/media/Yomogi-Regular.9d04eaaa.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Zen Loop;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Zen Loop'),
  local('ZenLoop-Regular'),
  url(/static/media/ZenLoop-Regular.f6f4362d.ttf) format('truetype')
  ;
}
@font-face {
  font-family: Zen Tokyo Zoo;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
  local('Zen Tokyo Zoo'),
  local('ZenTokyoZoo-Regular'),
  url(/static/media/ZenTokyoZoo-Regular.1204a71d.ttf) format('truetype')
  ;
}
  .MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  .MuiButtonBase-root::-moz-focus-inner {
    border-style: none;
  }
  .MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
  }
@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}
  .MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
  }
  .MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .MuiIconButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
  }
@media (hover: none) {
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}
  .MuiIconButton-edgeStart {
    margin-left: -12px;
  }
  .MuiIconButton-sizeSmall.MuiIconButton-edgeStart {
    margin-left: -3px;
  }
  .MuiIconButton-edgeEnd {
    margin-right: -12px;
  }
  .MuiIconButton-sizeSmall.MuiIconButton-edgeEnd {
    margin-right: -3px;
  }
  .MuiIconButton-colorInherit {
    color: inherit;
  }
  .MuiIconButton-colorPrimary {
    color: #0096c7;
  }
  .MuiIconButton-colorPrimary:hover {
    background-color: rgba(0, 150, 199, 0.04);
  }
@media (hover: none) {
  .MuiIconButton-colorPrimary:hover {
    background-color: transparent;
  }
}
  .MuiIconButton-colorSecondary {
    color: #c71f37;
  }
  .MuiIconButton-colorSecondary:hover {
    background-color: rgba(199, 31, 55, 0.04);
  }
@media (hover: none) {
  .MuiIconButton-colorSecondary:hover {
    background-color: transparent;
  }
}
  .MuiIconButton-sizeSmall {
    padding: 3px;
    font-size: 1.125rem;
  }
  .MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }
  .jss1 {
    display: flex;
    align-items: center;
    padding-block: 30vh;
    flex-direction: column;
    justify-content: center;
  }
  .jss2 {
    display: block;
  }
  .jss3 {
    margin: 5%;
  }
  .jss4 {
    width: 3em;
    height: 3em;
    opacity: 60%;
    border-radius: 50%;
    margin-inline: 0.5vh;
  }
  .jss4:hover {
    width: 3.5em;
    height: 3.5em;
    opacity: 80%;
    transition: 0.5s;
  }
  .jss5 {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
  }